    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FOE Helper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>
<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">FTW</a>
      <a class="navbar-item" href="/treasury.html">Treasury</a>
      <a class="navbar-item" href="/ge_calc.html">GE Calc</a>
    </div>

  </div>
</nav>

<section class="section">
    <div class="container" id="foe-ge-lead">
        <h1 class="title">Guild Encounters Calculator</h1>
        <div class="columns">
            <div class="column is-one-third">
                <h2 class="subtitle">We</h2>
                <div class="field">
                    <label class="label" for="input_guild_members_we">Guild Members</label>
                    <input placeholder="1" class="input" min="1" type="number" id="input_guild_members_we"
                           v-model="guild_members_we">
                </div>
                <div class="field">
                    <label class="label" for="input_our_perc">Our percentage</label>
                    <input placeholder="0.0" class="input" min="0" max="133" type="number" step="0.1"
                           id="input_our_perc" v-model="our_perc">
                </div>
                <div class="content">
                    <p>{{ calcGeTotal_we }} Encounters required for 100% </p>
                    <p>{{ calcGeCurrent_we }} Solved encounters </p>
                    <p>{{ calcGe100_we }} Until 100% </p>
                </div>
            </div>
            <div class="column">
                <div class="content is-one-third">
                    <div class="card has-text-centered">
                        <div class="card-content">
                            <p class="title ">
                                {{ calcGeLead }}
                            </p>
                            <p class="subtitle">
                                encounters to take lead
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2 class="subtitle">Them</h2>
                <div class="field">
                    <label class="label" for="input_guild_members_them">Guild Members</label>
                    <input placeholder="1" class="input" min="1" type="number" id="input_guild_members_them"
                           v-model="guild_members_them">
                </div>
                <div class="field">
                    <label class="label" for="input_opposition_perc">Their percentage</label>
                    <input placeholder="0.0" class="input" min="0" max="133" type="number" step="0.1"
                           id="input_opposition_perc" v-model="their_perc">
                </div>
                <div class="content">
                    <p>{{ calcGeTotal_them }} Encounters required for 100% </p>
                    <p>{{ calcGeCurrent_them }} Solved encounters </p>
                    <p>{{ calcGe100_them }} Until 100% </p>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var app = new Vue({
        el: '#foe-ge-lead',
        data: {
            guild_members_we: undefined,
            guild_members_them: undefined,
            their_perc: undefined,
            our_perc: undefined
        },
        computed: {
            calcGeLead: function () {
                if (this.guild_members_we !== undefined && this.their_perc !== undefined && this.our_perc !== undefined) {
                    var per_member = 100 / 48 / this.guild_members_we;
                    return Math.ceil((this.their_perc - this.our_perc) / per_member);
                } else {
                    return 0;
                }

            },
            calcGeTotal_we: function () {
                if (this.guild_members_we !== undefined) {
                    return 48 * this.guild_members_we;
                } else {
                    return 0;
                }
            },
            calcGeCurrent_we: function () {
                if (this.guild_members_we !== undefined && this.our_perc !== undefined) {
                    return Math.round(this.calcGeTotal_we * ( this.our_perc / 100));
                } else {
                    return 0;
                }
            },
            calcGe100_we: function () {
                return this.calcGeTotal_we - this.calcGeCurrent_we;
            },
            calcGeTotal_them: function () {
                if (this.guild_members_them !== undefined) {
                    return 48 * this.guild_members_them;
                } else {
                    return 0;
                }
            },
            calcGeCurrent_them: function () {
                if (this.guild_members_them !== undefined && this.their_perc !== undefined) {
                    return Math.round(this.calcGeTotal_them * ( this.their_perc / 100));
                } else {
                    return 0;
                }
            },
            calcGe100_them: function () {
                return this.calcGeTotal_them - this.calcGeCurrent_them;
            }

        }
    })
</script>
</body>
</html>
