<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FOE Helper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>

  <script src="static/players.js"></script>
</head>
<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">FTW</a>
      <a class="navbar-item" href="/treasury.html">Treasury</a>
      <a class="navbar-item" href="/ge_calc.html">GE Calc</a>
    </div>

  </div>
</nav>

<section class="section">
  <div class="container" id="foe-guild">
    <h1 class="title">Guild</h1>

    <table class="table">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Points</th>
        <th>Battles</th>
        <th>Age</th>
        <th><abbr title="Level of Observatory">OBS</abbr></th>
        <th><abbr title="Level of The Arc">ARC</abbr></th>
        <th><abbr title="Required goods for GE">RGE</abbr></th>
        <th><abbr v-bind:title="'Contributed by ' + collections_per_week + ' OBS collections per week'">COBS</abbr></th>
        <th><abbr v-bind:title="'Contributed by ' + collections_per_week + ' ARC collections per week'">CARC</abbr></th>
        <th><abbr v-bind:title="'Contributed by ' + collections_per_week + ' OBS + ARC collections per week'">CTOT</abbr></th>
        <th><abbr title="Required OBS level">ROBS</abbr></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="(player, index) in players" is="player" v-bind:rank="index + 1" v-bind:player-data="player" v-bind:collections-per-week="collections_per_week"></tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Points</th>
        <th>Battles</th>
        <th>Age</th>
        <th><abbr title="Level of Observatory">OBS</abbr></th>
        <th><abbr title="Level of The Arc">ARC</abbr></th>
        <th><abbr title="Required goods for GE">RGE</abbr></th>
        <th><abbr v-bind:title="'Contributed by ' + collections_per_week + ' OBS collections per week'">COBS</abbr></th>
        <th><abbr v-bind:title="'Contributed by ' + collections_per_week + ' ARC collections per week'">CARC</abbr></th>
        <th><abbr v-bind:title="'Contributed by ' + collections_per_week + ' OBS + ARC collections per week'">CTOT</abbr></th>
        <th><abbr title="Required OBS level">ROBS</abbr></th>
        <th></th>
      </tr>
      </tfoot>
    </table>


  </div>
</section>


<script type="text/x-template" id="player-row-template">
  <tr>
    <th>{{ rank }}</th>
    <th>{{ playerData.player_name }}</th>
    <td class="has-text-right">{{ playerData.points }}</td>
    <td class="has-text-right">{{ playerData.battles }}</td>
    <td>{{ playerData.age }}</td>
    <td class="has-text-right">{{ playerData.obs_level }}</td>
    <td class="has-text-right">{{ playerData.arc_level }}</td>
    <th class="has-text-right">{{ required_goods }}</th>
    <td class="has-text-right">{{ contributed_by_obs }}</td>
    <td class="has-text-right">{{ contributed_by_arc }}</td>
    <td class="has-text-right">{{ contributed_by_arc + contributed_by_obs }}</td>
    <td class="has-text-right">{{ required_obs_lvl }}</td>
    <td class="has-text-centered">
      <span v-if="contribution_check > 0" class="icon has-text-success"><i class="fas fa-check-square"></i></span>
      <span v-else-if="contribution_check == -required_goods" class="icon has-text-danger"><i class="fas fa-check-square"></i></span>
      <span v-else-if="contribution_check < 0" class="icon has-text-warning"><i class="fas fa-check-square"></i></span>
    </td>
  </tr>
</script>

<script>
  var contribution_per_age = {
    "IA": 16,
    "EMA": 15,
    "HMA": 22,
    "LMA": 28,
    "CA": 29,
    "INA": 35,
    "PE": 35,
    "ME": 35,
    "PME": 35,
    "CE": 36,
    "TOM": 42,
    "FUT": 42,
    "AF": 42,
    "OF": 36
  };

  var obs_production_per_lvl = [3,4,4,5,6,6,7,7,8,8,10,12,14,16,18,20];
  var arc_production_per_lvl = [9,10,12,13,15,16,18,19,21,22,24,26,28,30,32,34];

  Vue.component('player', {
    template: '#player-row-template',
    computed: {
      required_goods: function () {
        return contribution_per_age[this.playerData.age];
      },
      contributed_by_obs: function () {
        return (obs_production_per_lvl[this.playerData.obs_level-1] * this.collectionsPerWeek) || 0;
      },
      contributed_by_arc: function () {
        return (arc_production_per_lvl[this.playerData.arc_level-1] * this.collectionsPerWeek) || 0;
      },
      required_obs_lvl: function () {
        return obs_production_per_lvl.indexOf(Math.ceil(this.required_goods / this.collectionsPerWeek)) + 1;
      },
      contribution_check: function () {
        return (this.contributed_by_obs + this.contributed_by_arc) - this.required_goods;
      }

    },
    props: ["player-data", "collections-per-week", "rank"]
  });

  var app = new Vue({
    el: '#foe-guild',
    data: {
      players: all_players,
      collections_per_week: 6
    },
    methods: {
      getPlayer: function(pid){
        if (this.players) {
          return this.players[pid];
        } else {
          return {}
        }
      }
    }
  })
</script>
</body>
</html>
