<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FOE Helper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"/>

  <script src="static/players.js"></script>
  <script src="static/treasury.js"></script>
</head>
<body>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">FTW</a>
      <a class="navbar-item" href="/treasury.html">Treasury</a>
      <a class="navbar-item" href="/ge_calc.html">GE Calc</a>
    </div>

  </div>
</nav>

<section class="section">
  <div class="container" id="foe-treasury">
    <h1 class="title">Treasury overview</h1>
<div class="columns">
            <div class="column is-one-quarter">
              <h2 class="subtitle">Players per age</h2>
              <table class="table">
                <thead>
                  <th>Age</th>
                  <th>Players</th>
                  <th>Unlock cost</th>
                </thead>
                <tbody>
                  <tr>
                    <td>IA</td>
                    <td class="has-text-right">{{ players_per_age["IA"] }}</td>
                    <td class="has-text-right">{{ goods_per_age["IA"] }}</td>
                  </tr>
                  <tr>
                    <td>EMA</td>
                    <td class="has-text-right">{{ players_per_age["EMA"] }}</td>
                    <td class="has-text-right">{{ goods_per_age["EMA"] }}</td>
                  </tr>
                  <tr>
                    <td>HMA</td>
                    <td class="has-text-right">{{ players_per_age["HMA"] }}</td>
                    <td class="has-text-right">{{ goods_per_age["HMA"] }}</td>
                  </tr>
                <tr>
                    <td>LMA</td>
                    <td class="has-text-right">{{ players_per_age["LMA"] }}</td>
                    <td class="has-text-right">{{ goods_per_age["LMA"] }}</td>
                  </tr>
                <tr>
                    <td>CA</td>
                    <td class="has-text-right">{{ players_per_age["CA"] }}</td>
                    <td class="has-text-right">{{ goods_per_age["CA"] }}</td>
                  </tr>
                <tr>
                    <td>INA</td>
                    <td class="has-text-right">{{ players_per_age["INA"] }}</td>
                    <td class="has-text-right">{{ goods_per_age["INA"] }}</td>
                  </tr>
                <tr>
                    <td>PE</td>
                    <td class="has-text-right">{{ players_per_age["PE"] }}</td>
                    <td class="has-text-right">{{ goods_per_age["PE"] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
  <div class="column">
    <h2 class="subtitle">Goods in treasury</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Good</th>
        <th><abbr title="Amount of good at the end of the last GE">Last</abbr></th>
        <th><abbr title="Current amount of good in the treasury">Curr</abbr></th>
        <th><abbr title="Difference between current and last">Diff</abbr></th>
        <th><abbr title="Cost to unlock all GE levels each week">Unlock cost</abbr></th>
        <th><abbr title="Have we collected more than required">Status</abbr></th>
        <th><abbr title="Number of GE we can do with current amount of goods">Remaning GE</abbr></th>
      </tr>
      </thead>
      <tbody>

      <tr><th colspan="7">Iron Age</th></tr>
      <tr is="good" v-bind:good-age="'IA'" v-bind:good-name="'Cloth'"></tr>
      <tr is="good" v-bind:good-age="'IA'" v-bind:good-name="'Ebony'"></tr>
      <tr is="good" v-bind:good-age="'IA'" v-bind:good-name="'Jewelry'"></tr>
      <tr is="good" v-bind:good-age="'IA'" v-bind:good-name="'Iron'"></tr>
      <tr is="good" v-bind:good-age="'IA'" v-bind:good-name="'Limestone'"></tr>

      <tr><th colspan="7">Early Middle Ages</th></tr>
      <tr is="good" v-bind:good-age="'EMA'" v-bind:good-name="'Copper'"></tr>
      <tr is="good" v-bind:good-age="'EMA'" v-bind:good-name="'Gold'"></tr>
      <tr is="good" v-bind:good-age="'EMA'" v-bind:good-name="'Granite'"></tr>
      <tr is="good" v-bind:good-age="'EMA'" v-bind:good-name="'Honey'"></tr>
      <tr is="good" v-bind:good-age="'EMA'" v-bind:good-name="'Alabaster'"></tr>

      <tr><th colspan="7">High Middle Ages</th></tr>
      <tr is="good" v-bind:good-age="'HMA'" v-bind:good-name="'Bricks'"></tr>
      <tr is="good" v-bind:good-age="'HMA'" v-bind:good-name="'Glass'"></tr>
      <tr is="good" v-bind:good-age="'HMA'" v-bind:good-name="'Dried Herbs'"></tr>
      <tr is="good" v-bind:good-age="'HMA'" v-bind:good-name="'Rope'"></tr>
      <tr is="good" v-bind:good-age="'HMA'" v-bind:good-name="'Salt'"></tr>

      <tr><th colspan="7">Late Middle Ages</th></tr>
      <tr is="good" v-bind:good-age="'LMA'" v-bind:good-name="'Basalt'"></tr>
      <tr is="good" v-bind:good-age="'LMA'" v-bind:good-name="'Brass'"></tr>
      <tr is="good" v-bind:good-age="'LMA'" v-bind:good-name="'Gunpowder'"></tr>
      <tr is="good" v-bind:good-age="'LMA'" v-bind:good-name="'Silk'"></tr>
      <tr is="good" v-bind:good-age="'LMA'" v-bind:good-name="'Talc Powder'"></tr>

      <tr><th colspan="7">Colonial Age</th></tr>
      <tr is="good" v-bind:good-age="'CA'" v-bind:good-name="'Coffee'"></tr>
      <tr is="good" v-bind:good-age="'CA'" v-bind:good-name="'Paper'"></tr>
      <tr is="good" v-bind:good-age="'CA'" v-bind:good-name="'Porcelain'"></tr>
      <tr is="good" v-bind:good-age="'CA'" v-bind:good-name="'Tar'"></tr>
      <tr is="good" v-bind:good-age="'CA'" v-bind:good-name="'Wire'"></tr>

      <tr><th colspan="7">Industrial Age</th></tr>
      <tr is="good" v-bind:good-age="'INA'" v-bind:good-name="'Coke'"></tr>
      <tr is="good" v-bind:good-age="'INA'" v-bind:good-name="'Fertilizer'"></tr>
      <tr is="good" v-bind:good-age="'INA'" v-bind:good-name="'Rubber'"></tr>
      <tr is="good" v-bind:good-age="'INA'" v-bind:good-name="'Textiles'"></tr>
      <tr is="good" v-bind:good-age="'INA'" v-bind:good-name="'Whale Oil'"></tr>

      <tr><th colspan="7">Progressive Era</th></tr>
      <tr is="good" v-bind:good-age="'PE'" v-bind:good-name="'Asbestos'"></tr>
      <tr is="good" v-bind:good-age="'PE'" v-bind:good-name="'Explosives'"></tr>
      <tr is="good" v-bind:good-age="'PE'" v-bind:good-name="'Machine Parts'"></tr>
      <tr is="good" v-bind:good-age="'PE'" v-bind:good-name="'Gasoline'"></tr>
      <tr is="good" v-bind:good-age="'PE'" v-bind:good-name="'Tinplate'"></tr>

      </tbody>
    </table>
  </div>

  </div>
</section>


<script type="text/x-template" id="good-row-template">
  <tr>
    <td>{{ goodName }}</td>
    <td class="has-text-right">{{ prev }}</td>
    <th class="has-text-right">{{ curr }}</th>
    <td class="has-text-right">{{ diff }}</td>
    <td class="has-text-right">{{ unlock_cost }}</td>
    <td class="has-text-centered">
      <span v-if="(diff < 0)" class="icon has-text-danger"><i class="fas fa-check-square"></i></span>
      <span v-else-if="(diff == 0 && unlock_cost == 0)" class="icon has-text-success"><i class="fas fa-check-square"></i></span>
      <span v-else-if="(diff <= unlock_cost)" class="icon has-text-warning"><i class="fas fa-check-square"></i></span>
      <span v-else class="icon has-text-success"><i class="fas fa-check-square"></i></span>
    </td>
    <th class="has-text-right">{{ rem_ge }}</th>
  </tr>
</script>


<script>
  var contribution_per_age = {
    "IA": 16,
    "EMA": 15,
    "HMA": 22,
    "LMA": 28,
    "CA": 29,
    "INA": 35,
    "PE": 35,
    "ME": 35,
    "PME": 35,
    "CE": 36,
    "TOM": 42,
    "FUT": 42,
    "AF": 42,
    "OF": 36
  };

  var contribution_per_player = {
    "IA": [0, 12],
    "EMA": [2, 12],
    "HMA": [3, 18],
    "LMA": [4, 24],
    "CA": [4, 24],
    "INA": [5, 30],
    "PE": [5, 30]
  };

  // count players per age
  var players_per_age = {
    "IA": 0,
    "EMA": 0,
    "HMA": 0,
    "LMA": 0,
    "CA": 0,
    "INA": 0,
    "PE": 0
  };
  for (var idx=0,len=all_players.length;idx<len;idx+=1) {
    var player = all_players[idx];

    players_per_age[player.age] += 1;
  }

  var goods_per_age = {
    'IA': 12 * players_per_age['IA'] + 2 * players_per_age['EMA'],
    'EMA': 12 * players_per_age['EMA'] + 3 * players_per_age['HMA'],
    'HMA': 18 * players_per_age['HMA'] + 4 * players_per_age['LMA'],
    'LMA': 24 * players_per_age['LMA'] + 4 * players_per_age['CA'],
    'CA': 24 * players_per_age['CA'] + 5 * players_per_age['INA'],
    'INA': 30 * players_per_age['INA'] + 5 * players_per_age['PE'],
    'PE': 30 * players_per_age['PE']
  };


  Vue.component('good', {
    template: '#good-row-template',
    data: function () {
      var good = treasury[this.goodAge][this.goodName];
      var len = good.length;

      return {
        prev: good[len - 2],
        curr: good[len - 1],
        diff: good[len - 1] - good[len - 2]
      }
    },
    computed: {
      unlock_cost: function () {
        return goods_per_age[this.goodAge] || 0
      },
      rem_ge: function () {
        return Math.floor(this.curr / this.unlock_cost)
      }
    },
    props: ["good-age", "good-name"]
  });



  var app = new Vue({
    el: '#foe-treasury',
    data: {
      treasury: treasury,
      players_per_age: players_per_age
    },
    methods: {
    }
  })
</script>
</body>
</html>
